<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <title>Calendar | Bytesized Journal</title>

        <!-- Include styling -->
         <link rel="stylesheet" href="/styles/flex.css" />

        <!-- Calendar specific styling -->
        <link rel="stylesheet" href="/styles/calendar/calendar-grid.css" />

    </head>

    <body>

        <header class="flex space-around">

            <a href="/dashboard">

                <button>Back to Dashboard</button>

            </a>

            <h1>Calendar</h1>

        </header>

        <main>

            <div id="month-calendar">

                <div id="calendar-header" class="flex">

                    <div>

                        <span id="month-name">Month</span>

                        <span id="year-number">Year</span>

                    </div>

                    <span>Previous</span>

                    <span>Next</span>

                </div>

                <div id="calendar-body">

                    <div id="calendar-days-titles" class="calendar-row flex">

                        <div class="calendar-column">Sunday</div>

                        <div class="calendar-column">Monday</div>

                        <div class="calendar-column">Tuesday</div>

                        <div class="calendar-column">Wednesday</div>

                        <div class="calendar-column">Thursday</div>

                        <div class="calendar-column">Friday</div>

                        <div class="calendar-column">Saturday</div>

                    </div>

                    <div id="calendar-days-grid">

                        
                    </div>

                </div>

            </div>

        </main>
        
    </body>

    <script src="/dashboard/calendar/mainCalendarProgram.js" type="module"></script>
    
</html>