<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <title>Dashboard | Bytesized Journal</title>

        <link rel="stylesheet" href="/styles/flex.css" />

    </head>

    <body>

        <header class="flex align-items-center space-around">

            <nav>

                <a href="/">

                    <h2>Bytesized Journal</h2>

                </a>

            </nav>

            <nav>

                <a href="/dashboard/tutorial">Tutorial</a>

                <a href="/dashboard/calendar">Calendar</a>

                <a href="/dashboard/settings">Settings</a>

            </nav>

        </header>

        <main>

            <h1>Dashboard</h1>

            <div class="flex space-around">

                <button id="add-day-entry-button">New Day Entry</button>

                <button id="add-dream-entry-button">New Dream Entry</button>

            </div>

            <dialog id="delete-entry-dialogue">

                <h3 id="delete-warning"></h3>

                <button id="finalize-delete-button">Delete Entry</button>

                <button id="close-entry-delete-dialogue">Close</button>

            </dialog>

            <div id="gallery-container" class="flex space-around">

                <div id="day-entry-gallery" class="gallery">

                    <p>No entries yet...</p>

                </div>

                <div id="dream-entry-gallery" class="gallery">

                    <p>No dream entries yet...</p>

                </div>

            </div>

        </main>
        
    </body>

    <script src="mainDashboardSetup.js" type="module"></script>

</html>