<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <title>Dashboard | Bytesized Journal</title>

    </head>

    <body>

        <header>

            <a href="/">

                <h2>Bytesized Journal</h2>

            </a>

        </header>

        <main>

            <h1>Dashboard</h1>

            <a href="/dashboard/tutorial">Tutorial</a>

            <a href="/dashboard/settings">Settings</a>

            <a href="/dashboard/calendar">Calendar</a>

        </main>

        
        
    </body>
</html>