<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <title>Entry | Bytesized Journal</title>

    </head>
    
    <body>

        <header>

            <a href="/dashboard">

                <button>Back to Dashboard</button>

            </a>

        </header>

        <main>

            <h1>Journal Entry</h1>

            <h2 id="entry-title" editable></h2>

        </main>
        
    </body>

    <script src="/dashboard/display-entry/displayEntry.js" type="module"></script>

</html>