<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Include general meta data -->
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Include website favicon -->
        <link rel="icon" href="/icons/bytesized-orange.png" />

        <!-- Include stylesheets -->
        <link rel="stylesheet" href="/styles/flex.css" />

        <!-- Page title -->
        <title>Entry | Bytesized Journal</title>

        <!-- The styles of the pages -->
        <!-- Global CSS -->
        <link rel="stylesheet" href="/styles/global/global.css" />
        <link rel="stylesheet" href="/styles/global/typography.css" />
        <link rel="stylesheet" href="/styles/global/components.css" />

        <!-- Layout CSS -->
        <link rel="stylesheet" href="/styles/flex.css" />

        <!-- Custom font for editable content -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />


        <style>

            main {

                padding: 1rem;

            }

        </style>

    </head>

    <body>

        <header class="flex space-between">

            <a href="/">

                <h2>Bytesized Journal</h2>

            </a>

            <nav>

                <a href="/dashboard">
                    Dashboard
                </a>

                <a href="/dashboard/calendar">
                    Calendar
                </a>

                <a href="/dashboard/settings">
                    Settings
                </a>
                
            </nav>

        </header>

        <main>

            <div>

                <h2 id="entry-title" contenteditable="true"></h2>

                <p id="entry-date"></p>

            </div>

            <div id="entry-body">

            </div>

            <div class="button-container">

                <button id="new-line-button">New Line</button>

                <button id="delete-current-entry-button">Delete Entry</button>

            </div>

            <dialog>

                <h3 id="modal-heading"></h3>

                <button id="close-deletion-modal-button">Close</button>

                <button id="confirm-entry-deletion-button">Delete Entry</button>

            </dialog>

        </main>
        
    </body>

    <script src="/dashboard/display-entry/mainJournalEntrySetup.js" type="module"></script>

</html>