<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Include general meta data -->
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Include website favicon -->
        <link rel="icon" href="/icons/bytesized-orange.png" />

        <!-- Include stylesheets -->
        <link rel="stylesheet" href="/styles/flex.css" />

        <!-- Page title -->
        <title>Entry | Bytesized Journal</title>

        <link rel="stylesheet" href="/styles/global/global.css" />

        <link rel="stylesheet" href="/styles/global/typography.css" />

        <link rel="stylesheet" href="/styles/global/components.css" />

        <link rel="stylesheet" href="/styles/static/header.css" />

        <link rel="stylesheet" href="/styles/flex.css" />

        <!-- Custom font for editable content -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet" />

    </head>

    <body>

        <header class="flex space-around">

            <a href="/dashboard">

                <button>Back to Dashboard</button>

            </a>

            <h1>Journal Entry</h1>

        </header>

        <main>

            <div class="flex space-between">

                <h2 id="entry-title" contenteditable></h2>

                <p id="entry-date"></p>

            </div>

            <div id="entry-body" class="text-container">

            </div>

            <button id="new-line-button">New Line</button>

            <button id="delete-current-entry-button">Delete Entry</button>

            <dialog>

                <h3 id="modal-heading"></h3>

                <button id="close-deletion-modal-button">Close</button>

                <button id="confirm-entry-deletion-button">Delete Entry</button>

            </dialog>

        </main>
        
    </body>

    <script src="/dashboard/display-entry/mainJournalEntrySetup.js" type="module"></script>

</html>