<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Settings | Bytesized Journal</title>

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <!-- The styles of the pages -->
        <!-- Global CSS -->
        <link rel="stylesheet" href="/styles/global/global.css" />
        <link rel="stylesheet" href="/styles/global/typography.css" />
        <link rel="stylesheet" href="/styles/global/components.css" />

        <!-- Layout CSS -->
        <link rel="stylesheet" href="/styles/flex.css" />

    </head>

    <body>

        <header class="flex space-between">

            <a href="/">

                <h2>Bytesized Journal</h2>

            </a>

            <nav>

                <a href="/dashboard">
                    Dashboard
                </a>

                <a href="/dashboard/calendar">
                    Calendar
                </a>

                <a href="/dashboard/settings">
                    Settings
                </a>
                
            </nav>

        </header>

        <dialog id="success-modal" class="modal success-modal">

            <button id="close-success-modal-button" class="cancel-btn">Close</button>

            <h3>Your Feedback was Submitted Successfully</h3>

        </dialog>

        <dialog id="fields-incomplete-modal" class="modal error-modal">

            <button id="close-fields-incomplete-modal-button" class="cancel-btn">Close</button>

            <h3>Not All Fields Filled</h3>

            <p>Not all of the input fields were filled when the submission button was pressed. The form was not submitted.</p>
        
        </dialog>

        <dialog id="server-error-modal" class="modal error-modal">

            <button id="close-server-error-modal-button" class="cancel-btn">Close</button>

            <h3>Error During Submission</h3>

            <p>The form was queued for submission to </p>

        </dialog>

        <main>

            <h1>Settings</h1>

            <section>

                <h2>Account</h2>

                <p>Have an account? Click the button below to login.</p>

                <button>Login</button>

                <p>Don't have an account already? Sign up for free to unlock more features.</p>

                <button>Sign Up</button>

            </section>

            <section>

                <h2>Submit Feedback</h2>

                <div class="card center-card flex flex-column">

                    <label for="feedback-form-name">Your Name</label>
                    <input id="feedback-form-name" type="text" placeholder="Name..." required />

                    <label for="feedback-form-email">Your Email Address</label>
                    <input id="feedback-form-email" type="text" placeholder="Email..." required />

                    <label for="feedback-form-subject">Subject</label>
                    <input id="feedback-form-subject" type="text" placeholder="Subject..." required />

                    <label for="feedback-form-message-body">Message Body</label>
                    <textarea id="feedback-form-message-body" placeholder="Body..." required >

                    </textarea>

                    <div class="button-container flex space-between">

                        <button id="feedback-form-submission-button">Submit</button>

                        <button id="feedback-form-cancel-button">Cancel</button>

                    </div>

                </div>

            </section>

        </main>
        
    </body>

    <script src="/settings/sendFeedbackMessageFromClient.js" type="module"></script>
    
</html>