<!DOCTYPE html>
<html lang="en">

    <!-- Head of the HTML file which contains the meta data -->
    <head>

        <!-- The encoding method -->
        <meta charset="UTF-8" />

        <!-- The viewport meta data -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- The favicon of the site -->
        <link rel="icon" href="/icons/bytesized-orange.png" />

        <!-- Site title -->
        <title>About | Bytesized Journal</title>

        <!-- Site styles -->
        <link rel="stylesheet" href="/styles/global/global.css" />

        <link rel="stylesheet" href="/styles/global/typography.css" />

        <link rel="stylesheet" href="/styles/global/components.css" />

        <link rel="stylesheet" href="/styles/static/header.css" />

        <link rel="stylesheet" href="/styles/flex.css" />

    </head>

    <body>

        <header>

            <a href="/">

                <h2>Bytesized Journal</h2>

            </a>

        </header>

        <main class="text-container">

            <h1>About Bytesized Journal</h1>

            <p>
                Welcome internet traveler. You may be wondering what is the purpose of this website. Here is a little story to catch you up to speed.
            </p>

            <p>
                The creator of Bytesized Journal, Don, had been journaling since he was a kid but would loose track of the paper notebooks all the time. The history of entries he once had was lost to the sands of time. 
            </p>

            <p>
                Later on, he decided to journal with a note taking app. He tried out a couple to see which one was the right fit but they didn't quite have the combination of features he wanted. The ideal app would be opened from a web browser, have the option of using it offline, and show all of the journal entries on a calendar. Because he couldn't find an app with this combination of features, he brainstormed the creation of his own journaling app. 
            </p>

            <p>
                This is where Bytesized Journal enters the picture. 
            </p>

            <p>
                Bytesized Journal has each of the features described above. It is the one stop shop for journaling how your day has gone, or even you dreams. It can be opened on any device that has a web browser, just not an actual potato but we can try that some time. (A potato powered calculator can run DOOM by the way) Journal entries are always private to you and stored on your own device. They can be opened on a plane, train, or automobile (not while driving of course). Wifi not required. 
            </p>

            <p>
                The creation of the journaling app is an adventure but that adventure hasn't reached it's conclusion yet. New features are added over time. So internet traveler, on you next visit, check the blog for the site to see any relevant updates or announcements. 
            </p>

            <p>
                Happy surfing the web internet traveler. 
            </p>

        </main>

        
    </body>
</html>