<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <title>Bytesized Journal</title>
    </head>
    <body>

        <header>

            <h2>Bytesized Journal</h2>

            <a href="/dashboard">

                <button>Get Started</button>

            </a>

        </header>

        <h1>Welcome to Bytesized Journal</h1>

        <footer>

            &copy; <span id="date"></span> Bytesized Crew

        </footer>
        
    </body>

    <script src="displayCurrentYear.js"></script>

</html>