<!DOCTYPE html>
<html lang="en">

    <!-- The head for the page -->
    <head>

        <!-- Meta data -->
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- The icon for the website -->
        <link rel="icon" href="/icons/bytesized-orange.png" />

        <!-- The title for the tab in the web browser-->
        <title>Bytesized Journal</title>

        <!-- The styles of the pages -->
        <!-- Global CSS -->
        <link rel="stylesheet" href="/styles/global/global.css" />
        <link rel="stylesheet" href="/styles/global/typography.css" />
        <link rel="stylesheet" href="/styles/global/components.css" />

        <!-- Layout CSS -->
        <link rel="stylesheet" href="/styles/flex.css" />
        <link rel="stylesheet" href="/styles/static/header.css" />

    </head>

    <body>

        <header class="flex space-between align-items-center">

            <h2>Bytesized Journal</h2>

            <a href="/dashboard">

                <button>Get Started</button>

            </a>

        </header>

        <main>

            <section class="text-container">

                <h1>A Journaling app for your Days and Nights</h1>

                <p>
                    Bytesized Journal is a journaling web application in it's early alpha, designed to be personal, and private. Turn any device into a pocket journal organized with a calendar, no internet required. 
                </p>

                <a href="/dashboard">

                    <button>Get Started</button>

                </a>

            </section>

            <section class="text-container">

                <h2>Features</h2>

            </section>

            <section class="text-container">

                <h3>Calendar With all of you Journal Entries</h3>

                <p>
                    See all of your journal entries laid out before you in a calendar. You can easily view how often you wrote down dreams or if you kept up with your daily journaling routine. 
                </p>

            </section>

            <section class="text-container">

                <h3>Journaling for Day and Night</h3>

                <p>
                    You can write down your thoughts about the day and write down that incredible dream your don't want to forget into two dedicated sections. 
                </p>

            </section>

            <section class="text-container">

                <h3>Use on Any Device through the Web</h3>

                <p>
                    Your device is your pocket journal. Any device that can open a web browser can use this app. It will load as a website and can be installed from their as an ordinary app.
                </p>

            </section>

            <section class="text-container">

                <h3>Always on your Device</h3>

                <p>
                    Bytesized Journal is opened as a website but saves your journal entries onto your own device. Your entries stay private to you, not even leaving your device, and are available without an internet connection. There is no signup form or email address required. All you need to do is hit the "get started" button and open the dashboard. The app will take care of everything else in the background.
                </p>

            </section>

            <section class="text-container">

                <h2>I Invite You to Try the Difference</h2>

                <p>
                    I implore you, internet traveler, to try out this journaling solution and give any feedback. 
                </p>

                <a href="/dashboard">

                    <button>Get Started</button>

                </a>

            </section>


        </main>

        <footer>

            <div class="flex space-around">

                <div class="flex flex-column">

                    <h3>App</h3>

                    <a href="/about">About</a>

                    <a href="/blog">Blog</a>

                    <a href="/dashboard">Dashboard</a>

                </div>

                <div class="flex flex-column">

                    <h3>Documentation</h3>

                    <a href="https://bytesizedcrew.com/terms-of-service" target="_blank" rel="noreferrer">

                        Terms of Service

                    </a>

                    <a href="https://bytesizedcrew.com/privacy-policy" target="_blank" rel="noreferrer">

                        Privacy Policy

                    </a>

                </div>

                <div>

                    <h3>Social Platforms</h3>

                    <div class="flex space-between">

                        <a href="https://bsky.app/profile/bytesizedcrew.bsky.social" target="_blank" rel="noreferrer">
                        
                            <img src="/icons/Bluesky_Logo.svg" alt="Bluesky icon" class="icon" />

                        </a>

                        <a href="https://x.com/bytesizedcrew" target="_blank" rel="noreferrer">

                            <img src="/icons/X-icon.png" alt="X icon" class="icon" />

                        </a>

                        <a href="https://www.youtube.com/@bytesized-crew" target="_blank" rel="noreferrer">

                            <img src="/icons/YouTube_full-color_icon.svg" alt="YouTube icon" class="icon" />

                        </a>

                        <a href="https://www.linkedin.com/company/109277610/" target="_blank" rel="noreferrer">

                            <img src="/icons/LI-In-Bug.png" alt="LinkedIn icon" class="icon" />

                        </a>

                    </div>

                </div>

            </div>

            <hr />

            &copy; <span id="date"></span> Bytesized Crew

        </footer>
        
    </body>

    <script src="displayCurrentYear.js" type="module"></script>

</html>