<!DOCTYPE html>
<html lang="en">

    <!-- The head for the page -->
    <head>

        <!-- Meta data -->
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- The icon for the website -->
        <link rel="icon" href="/icons/bytesized-orange.png" />

        <!-- The title for the tab in the web browser-->
        <title>Bytesized Journal</title>

        <!-- The styles of the pages -->
        <!-- Global CSS -->
        <link rel="stylesheet" href="/styles/global/global.css" />
        <link rel="stylesheet" href="/styles/global/typography.css" />
        <link rel="stylesheet" href="/styles/global/components.css" />

        <!-- Layout CSS -->
        <link rel="stylesheet" href="/styles/flex.css" />
        <link rel="stylesheet" href="/styles/static/header.css" />

    </head>

    <body>

        <header class="flex space-between">

            <h2>Bytesized Journal</h2>

            <a href="/dashboard">

                <button>Get Started</button>

            </a>

        </header>

        <main>

            <h1>Welcome to Bytesized Journal</h1>

        </main>

        <footer>

            <a href="/about">About</a>

            <a href="/blog">Blog</a>

            &copy; <span id="date"></span> Bytesized Crew

        </footer>
        
    </body>

    <script src="displayCurrentYear.js" type="module"></script>

</html>