<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" href="/icons/bytesized-orange.png" />

        <title>Blog | Bytesized Journal</title>

        <link rel="stylesheet" href="/styles/global/global.css" />

        <link rel="stylesheet" href="/styles/global/typography.css" />

        <link rel="stylesheet" href="/styles/global/components.css" />

        <link rel="stylesheet" href="/styles/static/header.css" />

        <link rel="stylesheet" href="/styles/flex.css" />

        
    </head>
    <body>

        <header>

            <a href="/">

                <h2>Bytesized Journal</h2>

            </a>
            
        </header>

        <h1>Blog</h1>

        <div class="card">

            <h2>Welcome Internet Traveler</h2>

            <a href="/blog/welcome-internet-traveler">

                <button>Open Blog Post</button>
                
            </a>

        </div>
        
    </body>
</html>