button {

    border: none;

    border-radius: 0.25rem;

    background-color: hsl( 40, 90%, 80% );

    color: black;

    padding: 0.25rem;

    box-shadow: 0.25rem 0.25rem hsl( 40, 90%, 70% );

    cursor: pointer;

}
button:active {

    box-shadow: none;

    transform: translate( 0.25rem, 0.25rem );
    
}

.card {

    border: 0.1rem solid black;

    border-radius: 0.25rem;

    padding: 0.25rem;

    margin: 0.25rem;

    background-color: white;

    max-width: 40vw;

}

.icon {

    width: 1rem;

}

footer, header {

    background-color: hsl( 200, 50%, 20% );

    color: white;

}

footer a {

    color: hsl( 200, 50%, 80% );

}

footer span {

    color: white;

}

header {

    padding: 0.5rem 1rem;

}