button {

    border: none;

    border-radius: 0.25rem;

    background-color: hsl( 40, 90%, 80% );

    color: black;

    padding: 0.25rem;

    box-shadow: 0.25rem 0.25rem hsl( 40, 90%, 70% );

    cursor: pointer;

}
button:active {

    box-shadow: none;

    transform: translate( 0.25rem, 0.25rem );
    
}

.card {

    border: 0.1rem solid black;

    border-radius: 0.25rem;

    padding: 0.25rem;

}