html {

    font-size: 20px;

    font-family: Arial, Helvetica, sans-serif;

}

.text-container {

    display: flex;

    flex-direction: column;

    align-items: center;

    width: 100vw;

    margin: 1rem 0;

}

p, li, span, a {

    color: hsl( 1, 0%, 30% ); 

    font-size: 1.25rem;

    font-weight: 500;

    max-width: 50rem;

    line-height: 2rem;

}

strong {

    color: black;

}