.calendar-column {

    width: 10rem;

    border: 0.1rem solid black;

}

.calendar-day {

    min-height: 5rem;

    border: 0.1rem solid black;

}

.calendar-weekend {

    background-color: hsl( 1, 0%, 80% );

}

.current-day {

    background-color: hsl( 1, 50%, 80% );

}

#month-calendar {

    width: 35rem;
    
}